<div class="container">
  <header class = "jumbotron">
    <h1><i class="em em-alien"></i> {{#link-to 'index'}}Welcome to Super Rentals{{/link-to}} <i class="em em-alien"></i></h1>

    We hope you find exactly what you're looking for in a place to stay.
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'contact'}}Our representatives would love to help!{{/link-to}}
  </footer>
</div>
